<div class="allheaders">
  <div class="container">
  	<h2>Create a new account</h2>
    <%= form_for :user, url: '/users' do |f| %>
      <p>First Name <%= f.text_field :first_name, :required => true, class: "text-field" %></p>
      <p>Last Name <%= f.text_field :last_name, :required => true, class: "text-field"%></p>
      <p>Email <%= f.text_field :email, :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', class: "text-field"%></p>
      <p>Password <%= f.password_field :password, :required => true, class: "text-field" %></p>
      <%= f.submit "Sign up", :class => "form-btn", class: "button" %>
    <% end %>
    <h3>Already have an account? Login <%= link_to "here", login_path %></h3>
  </div>
</div>