<div class="login">
  <div class="container">
    <%= form_for :user, url: '/users' do |f| %>
      <%= f.text_field :first_name, :placeholder => 'First Name', :required => true %>
      <%= f.text_field :last_name, :placeholder => 'Last Name', :required => true %>
      <%= f.text_field :email, :placeholder => 'Email', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%> 
      <%= f.password_field :password, :placeholder => 'Password', :required => true %> 
      <%= f.submit "Sign up", :class => "form-btn" %>
    <% end %>
  </div>
</div>