<div class="interests">
  <div class="container">
  	<div class="allheaders">
	  	<h2>My Interests</h2>
	  	<br>
	  	<% if @interests.empty? %>
	  		<p>Looks like you haven't shared your profile with anyone!</p>
  	</div>
  		<% else %>
		    <% @interests.each do |interest|%> 
		      	<div class="interest col-sm-4">
					<h3><%= interest.post.title %></h3> 
					<h4><%= interest.post.category %></h4>
					<h4>By <%= interest.post.user.first_name %> <%= interest.post.user.last_name %></h4>
					<p>Location: <%= interest.post.location %></p>
					<p>Description: <%= interest.post.description %></p>
					<p>Looking for: <%= interest.post.requirements %></p>
					<%= link_to "Stop Sharing", interests_path(id: interest.id), method: "delete", data: {confirm: "Are you sure you want to stop sharing your profile for this post?"} %> 
		      	</div> 
		    <% end %>
	    <% end %>
  </div>
</div>