<div class="allheaders">
  <div class="container">
    <h2>Edit Post</h2>
    <%= form_for @post do |f| %>
      <div class="field"> 
        <p>Title <%= f.text_field :title, :placeholder => 'Title' %></p>
        <p>Location <%= f.text_field :location, :placeholder => 'Location' %></p>
        <p>Description <%= f.text_area :description, :placeholder => 'Description' %></p>
        <p>Requirements <%= f.text_area :requirements, :placeholder => 'Requirements' %></p>
        <p>Category <%= f.select :category, [['Music', 'Music'], ['Art', 'Art'], ['Tech', 'Tech'], ['Education', 'Education'], ['Business', 'Business'], ['Services', 'Services'], ['Beauty', 'Beauty'], ['Fashion', 'Fashion'], ['Other', 'Other']], :include_blank => true %></p>
      <div class="actions"> 
        <%= f.submit "Update", :class => "form-btn", class: "button" %> 
      </div> 
    <% end %>
  </div>
</div>