<div class="posts">
  <div class="container">
    <% @posts.each do |post|%> 
      <div class="post">
		<h2><%= post.title %></h2> 
		<h3><%= post.category %></h3>
		<h3>By <%= post.user.first_name %> <%= post.user.last_name %></h3>
		<p>Location: </p><%= post.location %><br>
		<p>Description: </p><%= post.description %><br>
		<p>Looking for: </p><%= post.requirements %><br>

		<%= link_to "Edit Post", edit_post_path(post.id) %> 
		<%= link_to "Delete Post", post_path(post.id), method: "delete" %> 
      </div> 
    <% end %>
  </div>
</div>