<div class="posts">
  <div class="container">
    <% if @posts.empty? %>
  		<p>Looks like you haven't made any posts!</p>
  	<% else %>
	    <% @posts.each do |post|%> 
	      <div class="post">
					<h2><%= post.title %></h2> 
					<h3><%= post.category %></h3>
					<h3>By <%= post.user.first_name %> <%= post.user.last_name %></h3>
					<p>Location: </p><%= post.location %><br>
					<p>Description: </p><%= post.description %><br>
					<p>Looking for: </p><%= post.requirements %><br>
					<%= link_to "Edit Post", edit_post_path(post.id) %> 
					<%= link_to "Delete Post", post_path(post.id), method: "delete", data: {confirm: "Are you sure you want to delete this post? You will no longer be able to see profiles shared with you through it."} %> 
	      </div> 
	    <% end %>
    <% end %>
  </div>
</div>