<div class="allheaders">
  <div class="container">
    <h2>Create a new post</h2>
    <h4>Try to be as detailed as possible!</h4>
    <%= form_for :post, url: '/posts' do |f| %>  
      <div class="field"> 
        <p>Title <%= f.text_field :title, :required => true, class: "text-field" %></p>
        <p>Location <%= f.text_field :location, :value => current_user.profile.location, :required => true, class: "text-field" %></p>
        <p>Description <%= f.text_area :description, :required => true, class: "text-field" %></p>
        <p>Requirements <%= f.text_area :requirements, :required => true, class: "text-field" %></p>
        <p>Category <%= f.select :category, [['Music', 'Music'], ['Art', 'Art'], ['Tech', 'Tech'], ['Education', 'Education'], ['Business', 'Business'], ['Services', 'Services'], ['Beauty', 'Beauty'], ['Fashion', 'Fashion'], ['Other', 'Other']], :include_blank => true, :required => true, class: "text-field" %></p>
      </div> 
      <div class="actions"> 
        <%= f.submit "Create", :class => "form-btn", class: "button" %> 
      </div> 
    <% end %>
  </div>
</div>