<div class="shared">
	<div class="container">
		<div class="allheaders">
			<h2>Profiles Received</h2>
			<br>
			<% if @interests.empty? %>
				<p>Looks like nobody has shared their profile with you!</p>
		</div>
		<% else %>
		  <% @interests.each do |interest|%> 
		  <div class="myshared col-sm-4">
		  	<h3>Profile for post: <%= link_to interest.post.title, post_path(interest.post.id) %></h3>
		  	<% if interest.user.profile.image? %>
      	  		<%= image_tag(interest.user.profile.image.smallthumb.url, alt: 'Image', :class => "profpic") %>
      	  	<% else %>
      	  		<%= image_tag("default.png", alt: 'NoImage', :class => "nopic")%>
      		<% end %>
			<h3><%= interest.user.first_name %> <%= interest.user.last_name %></h3>
			<h4><%= interest.user.email %></h4>
			<p>Location: <%= interest.user.profile.location %></p>
			<p>Skills: <%= interest.user.profile.skills %></p>
			<p>Bio: <%= interest.user.profile.bio %></p>
		  </div>
		  <% end %>
		<% end %>
	</div>
</div>