<!DOCTYPE html>
<html>
  <head>
    <title>Collaborations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="header">
    <div class="container">
      <h1><%= link_to "Collaborations", root_path %></h1> 

      <div class="nav">
        <% if current_user %>
          <ul>
            <li>Hello, <%= current_user.first_name %></li>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
            <li><%= link_to "My Profile", profile_path %></li>
            <h2><%= link_to "View Posts", posts_path %></h2>
            <h3><%= link_to "My Posts", myposts_path %></h3>
            <h3><%= link_to "My Interests", myinterests_path %></h3>
            <h3><%= link_to "Profiles Received", sharedwithme_path %></h3>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Log In", login_path %></a></li>
            <li><%= link_to "Sign Up", signup_path %></a></li>
          </ul>
        <% end %>
      </div>
    
      <div class="logo">
      </div>
    
    </div>
  </div>

  <%= yield %>

  </body>
</html>
